body {
  margin: 0;
  padding: 0;
}

.header {
  background: white;
  border-bottom: 1px solid lightgray;
}

.container {
  width: 980px;
  margin: auto;
}

.container-left {
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  float: left;
  margin-right: 5px;
}

/* 'logo클래스 내의 요소 중 img태그를 찾아라'라는 의미, 클래스선택자와 태그와 스페이스의 조합 */
.logo img {
  display: block;
}
.menu {
  float: left;
}

.menu-item {
  float: left;
  /* margin-right: 10px; */
  padding: 8px 10px;
}

/* 3.10강의 4분30초 경 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
