/* 속성 선택자 attribute selector */

/* 1. [attr]  */
a[target] {
  color: royalblue;
}

/* 2. [attr+value] */
a[href="http://example.org"]
{
  color: red;
}

input[type="submit"] {
  background-color: sandybrown;
}

input[type="reset"] {
  background-color: orchid;
}
